<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Enseignants Infos</title>
<link rel="stylesheet" th:href="@{enseignants/css/infos.css}"/>
</head>
<body>
<div class="subHeader">
<p>Call us : +89745812</p>
</div>
<h1>Université de Cambridge</h1>
<h2><span th:text="${listeE.nom}"></span> <span th:text="${listeE.prenom}"></span></h2> 
<div class="container">




<img alt="" th:src="${listeE.photo}" class="photo">

<ul>
<span>♣ Numéro Enseignant :</span>
<li th:text="${listeE.numeroEnseignant}"></li>
<span>♣ Date de naissance :</span>
<li th:text="${listeE.dateNaissance}"></li>
<span>♣ Sexe de l'enseignant :</span>
<li th:text="${listeE.sexe}"></li>
<span>♣ Grade del'enseignant :</span>
<li th:text="${listeE.grade}"></li>
<span>♣ Date d'embauche :</span>
<li th:text="${listeE.dateEmbauche}"></li>



</ul>

</div>
<a class="btn" th:href="@{enseignant-supprimer(id=${listeE.id})}">Supprimer</a>
<a class="btn" th:href="@{enseignant-modifier(id=${listeE.id})}">Modifier</a>

<a class="btn" th:href="@{enseignants}">Retour</a>
</body>
</html>